<h1> test </h1>

<% @menbers.each do | menber | %>
    <%= menber %>
<% end %>
<br>
<br>
<%= link_to "link" , link_url %>
<br>
<%= link_to "restaurants" , restaurants_url %>
<br>
<%= link_to "crud" , crud_read_all_url %>